*{
    margin:0px;
}
.box-container{
    height:100vh;
    display:grid;
    font-family:'Roboto';
    font-size:25px;
    color:white;
}
.box-items{
    margin:5px;
    background-color:lightgray;
    padding-left:15px;
    padding-top:15px;
}
.box-a{
    grid-column:1 / span 2;
    grid-row:1;
}
.box-b{
    grid-column:3/ span 4;
    grid-row:1;
}
.box-c{
    grid-column:1;
    grid-row:2;
}
.box-d{
    grid-column:1;
    grid-row:3;
}
.box-e{
    grid-column:2 / span 5;
    grid-row:2 / span 2;
}
.box-f{
    grid-column:7;
    grid-row:1 / span 3;
}
.box-g{
    grid-column:8;
    grid-row:1 / span 2;
}
.box-h{
    grid-column:8;
    grid-row:3 / span 1;
}